scopeName: 'source.sxml'
name: 'Semi XML'
fileTypes: [ 'sxml', 'semi-xml']

patterns: [
  { include: '#element' }
  { include: '#method' }
  { include: '#blockAContent' }
  { include: '#blockBContent' }
  { include: '#blockCContent' }
]

repository:
  elIdent: {
    comment: 'Identifiers for element and namespace'
    match: '[A-Za-z._-]\\w*'
    name: 'variable.element.name.sxml'
  }
  p6Ident: {
    comment: 'Identifiers for perl6 objects'
    match: '[A-Za-z_]\\w*(\\-[A-Za-z_]\\w*)*'
    name: 'variable.perl6.name.sxml'
  }
  commentLine: {
    comment: 'Single line comments'
    match: '#.*$'
    name: 'comment.line.sxml'
  }
#  blockIndents: {
#    comment: 'Color of indented lines in a block'
#    match: '\n\s+'
#    name: 'constant.indent.sxml'
#  }
  method: {
    comment: 'Method tags'
    patterns: [
      {
        match: '(\\$\\!)([A-Za-z]\\w*)\\.([a-zA-Z]\\w*)'
        captures:
          1: name: 'punctuation.method.begin.sxml'
          2: name: 'variable.module.sxml'
          3: name: 'variable.method.sxml'
        #name: 'meta.method.sxml'
      }
    ]
  }
  element: {
    comment: 'Element tags'
    patterns: [
      {
        match: '(\\$)(([A-Za-z]\\w*)\\:)?([a-zA-Z]\\w*)'
        captures:
          1: name: 'punctuation.element.begin.sxml'
          3: name: 'variable.namespace.sxml'
          4: name: 'variable.element.sxml'
        #name: 'meta.element.sxml'
      }
    ]
  }
  blockAContent: {
    comment: 'BlockA content'
    patterns: [
      {
        begin: '(?<!\\\\)\\['
        beginCaptures:
          0: name: 'punctuation.block.begin.sxml'
        end: '(?<!\\\\)\\]'
        endCaptures:
          0: name: 'punctuation.block.end.sxml'
        contentName: 'constant.blockA.sxml'
        patterns: [
          { include: '#commentLine' },
          { include: '#blockAContent' }
          { include: '#blockBContent' }
          { include: '#blockCContent' }
          { include: '#element' }
          { include: '#method' }
          { include: '#escape' }
        ]
      }
    ]
    name: 'variable.block.sxml'
  }
  blockBContent: {
    comment: 'BlockB content'
    patterns: [
      {
        begin: '(?<!\\\\)\\{'
        beginCaptures:
          0: name: 'punctuation.block.begin.sxml'
        end: '(?<!\\\\)\\}'
        endCaptures:
          0: name: 'punctuation.block.end.sxml'
        contentName: 'constant.blockB.sxml'
        patterns: [
#          { include: '#blockIndents' }
          { include: '#escape' }
        ]
      }
    ]
  }
  blockCContent: {
    comment: 'BlockC content'
    patterns: [
      {
        begin: '(?<!\\\\)«'
        beginCaptures:
          0: name: 'punctuation.block.begin.sxml'
        end: '(?<!\\\\)»'
        endCaptures:
          0: name: 'punctuation.block.end.sxml'
        contentName: 'constant.blockC.sxml'
        patterns: [
#          { include: '#blockIndents' }
          { include: '#escape' }
        ]
      }
    ]
  }
  escape: {
    comment: 'bolding of escaped characters'
    match: '\\\\.'
    name: 'punctuation.escape.sxml'
  }
