scopeName: 'source.sxml'
name: 'Semi XML'
fileTypes: [ 'sxml', 'semi-xml']

patterns: [
  { include: '#element' }
  { include: '#method' }
  { include: '#attrKey1' }
  { include: '#attrKey2' }
  { include: '#attrKey3' }
  { include: '#attrT2' }
  { include: '#attrT3' }
  { include: '#attrT4' }
  { include: '#attrT1' }
  { include: '#blockAContent' }
  { include: '#blockBContent' }
  { include: '#blockCContent' }
  { include: '#xmlEntity' }
  { include: '#commentLine' },
]


repository:
  attrKey1: {
    comment: 'Attribute start: key='
    match: '([A-Za-z_][:\\w]*)(\\=)'
    captures:
      1: name: 'variable.attr.key.sxml'
      2: name: 'punctuation.attr.sxml'
  }
  attrT1: {
    comment: 'Attribute: key=value'
    match: '(?<=\\S\\=)(\\S+)'
    name: 'variable.attr.value.sxml'
  }
  attrT2: {
    comment: "Attribute: key='value'"
    begin: "(?<=\\S\\=)'"
    end: "'"
    contentName: 'variable.attr.value.sxml'
  }
  attrT3: {
    comment: 'Attribute: key="value"'
    begin: '(?<=\\S\\=)"'
    end: '"'
    contentName: 'variable.attr.value.sxml'
  }
  attrT4: {
    comment: 'Attribute: key=<values>'
    begin: '(?<=\\S\\=)<'
    end: '>'
    contentName: 'variable.attr.value.sxml'
  }
  attrKey2: {
    comment: 'Boolean attribute: =key'
    match: '(?<=\\s)(\\=)([A-Za-z_][:\\w]*)'
    captures:
      1: name: 'punctuation.attr.sxml'
      2: name: 'variable.attr.key.sxml'
  }
  attrKey3: {
    comment: 'Boolean attribute: =!key'
    match: '(?<=\\s)(\\=\\!)([A-Za-z_][:\\w]*)'
    captures:
      1: name: 'punctuation.attr.sxml'
      2: name: 'variable.attr.key.sxml'
  }
  xmlEntity: {
    comment: 'XML Entities'
    match: '\\&[^;\\s]+\\;'
    name: 'variable.entity.sxml'
  }
  commentLine: {
    comment: 'Single line comments'
    match: '(#\\s+)(.*)$'
    captures:
      1: name: 'comment.begin.sxml'
      2: name: 'comment.line.sxml'
  }
  blockBLines: {
    comment: 'block B content'
    match: '\\S(\\\\\\}|[^}])*$'
    name: 'constant.blockB.sxml'
  }
  blockCLines: {
    comment: 'block C content'
    match: '\\S(\\\\»|[^»])*$'
    name: 'constant.blockC.sxml'
  }
  method: {
    comment: 'Method tags'
    patterns: [
      {
        match: '''(?x)
          (\\$\\!)                    # Start with '$!'
          ([\\p{Alpha}\\p{Digit}_-]+) # Labels are alphanumeric text, '_' or '-'
          (\\.)                       # Separate with a '.'
          ([\\p{Alpha}_]              # perl6 method is a p6 id
            (
              [\\p{Digit}\\p{Alpha}_]
            |
              [\\-\'] [\\p{Alpha}_]
            )*
          )
        '''
        captures:
          1: name: 'punctuation.method.begin.sxml'
          2: name: 'variable.module.sxml'
          3: name: 'punctuation.method.separator.sxml'
          4: name: 'variable.method.sxml'
      }
    ]
  }
  element: {
    comment: 'Element tags'
    patterns: [
      {
        match: '(\\$)(([A-Za-z_][\\w_-]*)\\:)?([a-zA-Z_][\\w_-]*)'
        captures:
          1: name: 'punctuation.element.begin.sxml'
          3: name: 'variable.namespace.sxml'
          4: name: 'variable.element.sxml'
      }
    ]
  }
  blockAContent: {
    comment: 'BlockA content'
    patterns: [
      {
        begin: '(?<!\\\\)\\['
        beginCaptures:
          0: name: 'punctuation.block.begin.sxml'
        end: '(?<!\\\\)\\]'
        endCaptures:
          0: name: 'punctuation.block.end.sxml'
        contentName: 'constant.blockA.sxml'
        patterns: [
          { include: '#commentLine' },
          { include: '#blockAContent' }
          { include: '#blockBContent' }
          { include: '#blockCContent' }
          { include: '#element' }
          { include: '#method' }
          { include: '#escape' }
          { include: '#attrKey1' }
          { include: '#attrKey2' }
          { include: '#attrKey3' }
          { include: '#attrT2' }
          { include: '#attrT3' }
          { include: '#attrT4' }
          { include: '#attrT1' }
          { include: '#xmlEntity' }
        ]
      }
    ]
    name: 'variable.block.sxml'
  }
  blockBContent: {
    comment: 'BlockB content'
    patterns: [
      {
        begin: '(?<!\\\\)\\{'
        beginCaptures:
          0: name: 'punctuation.block.begin.sxml'
        end: '(?<!\\\\)\\}'
        endCaptures:
          0: name: 'punctuation.block.end.sxml'
        contentName: 'constant.blockB.sxml'
        patterns: [
          { include: '#escape' }
          { include: '#xmlEntity' }
        ]
      }
    ]
  }
  blockCContent: {
    comment: 'BlockC content'
    patterns: [
      {
        begin: '(?<!\\\\)«'
        beginCaptures:
          0: name: 'punctuation.block.begin.sxml'
        end: '(?<!\\\\)»'
        endCaptures:
          0: name: 'punctuation.block.end.sxml'
        contentName: 'constant.blockC.sxml'
        patterns: [
          { include: '#escape' }
          { include: '#xmlEntity' }
        ]
      }
    ]
  }
  escape: {
    comment: 'bolding of escaped characters'
    match: '\\\\.'
    name: 'constant.character.escape.sxml'
  }
