".source.sxml":
  customFileTypes:
    "source.sxml": [ "sxml", "semi-xml" ]

  editor:
    foldBeginPattern: 'NEVERFOLD'
    foldEndPattern: 'NEVERFOLD'
    increaseIndentPattern: '(?!<=\\\\)\\[|(?!<=\\\\)\\{|(?!<=\\\\)\\«'
    decreaseIndentPattern: '(?!<=\\\\)\\]|(?!<=\\\\)\\}|(?!<=\\\\)\\»'
    nonWordCharacters: '/\\()":,.;<>~#^*|+=[]{}`?!«»'
