".source.sxml":
  customFileTypes:
    "source.sxml": [ "sxml", "semi-xml" ]

  editor:
    foldBeginPattern: '()'
    foldEndPattern: '()'
    nonWordCharacters: '/\\()":,.;<>~#^*|+=[]{}`?!«»'

    # defined by bracket-matcher
    #increaseIndentPattern: '(?!<=\\\\)\\[|(?!<=\\\\)\\{|(?!<=\\\\)\\«'
    #decreaseIndentPattern: '(?!<=\\\\)\\]|(?!<=\\\\)\\}|(?!<=\\\\)\\»'

    #increaseIndentPattern: '^.*(\\{|\\[\\«)(\\}|\\]\\»)?\\s*$'
    increaseIndentPattern: '(?!<=\\\\)[{«\\[]\\s$'
    decreaseIndentPattern: '^\\s*(?!<=\\\\)[}»\\]]\\s*$'

  # defined by bracket-matcher
  "bracket-matcher":
    #autocompleteCharacters: [ "[]", "{}", "«»", "\"\"", "''", "<>"]
    autocompleteCharacters: [ "[]", "{}", "«»"]
