".source.sxml":
  customFileTypes:
    "source.sxml": [ "sxml", "semi-xml" ]

  editor:
    foldBeginPattern: 'NEVERFOLD'
    foldEndPattern: 'NEVERFOLD'
    nonWordCharacters: '/\\()":,.;<>~#^*|+=[]{}`?!«»'

    # defined by bracket-matcher
    increaseIndentPattern: '(?!<=\\\\)\\[|(?!<=\\\\)\\{|(?!<=\\\\)\\«'
    decreaseIndentPattern: '(?!<=\\\\)\\]|(?!<=\\\\)\\}|(?!<=\\\\)\\»'

  # defined by bracket-matcher
  "bracket-matcher":
    autocompleteCharacters: [ "[]", "{}", "«»", "\"\"", "''", "<>"]
