
atom-text-editor.editor .syntax--markup--syntax,
atom-text-editor.editor .syntax--entity.syntax--name.syntax--section,
atom-text-editor.editor .syntax--comment,
atom-text-editor.editor .syntax--string.syntax--quoted,
atom-text-editor.editor .syntax--string.syntax--regexp,
atom-text-editor.editor .syntax--source.syntax--sxml
{
  -webkit-font-feature-settings: "liga" off, "calt" off;
}


@elClr: #008ff0;
@mmClr: #8f00f0;

@blckAbg: #ffffff;
@blckBbg: #e0ffff;
@blckCbg: #ffffe0;
@blckClr: #0f0f0f;

@cmntClr: #0a0a0a;
@cmntBg:  #404040;

.syntax--method {
  color: @mmClr;
}

.syntax--element {
  color: @elClr;
}

.syntax--blockB {
  background-color: @blckBbg;
}

.syntax--blockC {
  background-color: @blckCbg;
}

.syntax--punctuation {
  font-weight: bold;
}

.syntax--comment {
  color: @cmntClr;
  //background-color: @cmntBg;
}

.syntax--blockB > .leading-whitespace {
  background-color: transparent;
}

.syntax--blockC > .leading-whitespace {
  background-color: transparent;
}


/*
.syntax--sxml {
  .syntax--meta {
    .syntax--method {
      color: @mmClr;
    }

    .syntax--element {
      color: @elClr;
    }
  }

  .syntax--constant {
    .syntax--blockA {
//      background-color: @blckAbg;
    }

    .syntax--blockB {
      background-color: @blckBbg;
    }

    .syntax--blockC {
      background-color: @blckCbg;
    }
  }

  .syntax--punctuation {
    font-weight: bold;
  }
}
*/
