
atom-text-editor.editor .syntax--markup--syntax,
atom-text-editor.editor .syntax--entity.syntax--name.syntax--section,
atom-text-editor.editor .syntax--comment,
atom-text-editor.editor .syntax--string.syntax--quoted,
atom-text-editor.editor .syntax--string.syntax--regexp,
atom-text-editor.editor .syntax--source.syntax--sxml
{
  -webkit-font-feature-settings: "liga" off, "calt" off;
}


@elClr: #008ff0;
@mmClr: #f08f00;

@blckAbg: transparent; /* #ffffff; */
@blckBbg: #ffefff;
@blckCbg: #ffefff;
@blckClr: #0f0f0f;

@cmntClr: #3f3f3f;
@cmntBg:  #fefefe;

@escapeClr: #afafaf;

/* All about blocks */
.syntax--punctuation.syntax--block.syntax--begin.syntax--sxml {
  font-weight: bold;
}

.syntax--punctuation.syntax--block.syntax--end.syntax--sxml {
  font-weight: bold;
}

.syntax--punctuation.syntax--escape.syntax--sxml {
  /*font-weight: bold;*/
  color: @escapeClr;
}

.syntax--comment.syntax--line.syntax--sxml {
  color: @cmntClr;
  /*background-color: @cmntBg;*/
}

/*
.leading-whitespace.syntax--sxml {
  background-color: inherit;
}
*/

/*
.syntax--blockB {
  background-color: @blckBbg;
}

.syntax--blockC {
  background-color: @blckCbg;
}
*/

.syntax--constant.syntax--blockB.syntax--sxml {
  background-color: @blckBbg;
  .leading-whitespace {
    background-color: unset;
  }
}

.syntax--constant.syntax--blockC.syntax--sxml {
  background-color: @blckCbg;
  .leading-whitespace {
    background-color: unset;
  }
}

/*
.syntax--meta.syntax--method {
  color: @mmClr;
}

.syntax--meta.syntax--element {
  color: @elClr;
}
*/

.syntax--punctuation.syntax--method.syntax--begin.syntax--sxml {
  color: @mmClr;
  font-weight: bold;
}

.syntax--variable.syntax--module.syntax--sxml {
  color: @mmClr;
}

.syntax--variable.syntax--method.syntax--sxml {
  color: @mmClr;
}

.syntax--punctuation.syntax--element.syntax--begin.syntax--sxml {
  color: @elClr;
  font-weight: bold;
}

.syntax--variable.syntax--namespace.syntax--sxml {
  color: @elClr;
}

.syntax--variable.syntax--element.syntax--sxml {
  color: @elClr;
}

/*
.syntax--sxml {
  .syntax--meta {
    .syntax--method {
      color: @mmClr;
    }

    .syntax--element {
      color: @elClr;
    }
  }

  .syntax--constant {
    .syntax--blockA {
//      background-color: @blckAbg;
    }

    .syntax--blockB {
      background-color: @blckBbg;
    }

    .syntax--blockC {
      background-color: @blckCbg;
    }
  }

  .syntax--punctuation {
    font-weight: bold;
  }
}
*/
